* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

:root {
    --black: #0F0F0F;
    --light_black: #202020;
    --light_green: #5DD62C;
    --green: #337418;
    --white: #F8F8F8;
    --gray: #D1D1D1;
}

[data-theme="dark"] {
    --light_black: red;
    --black: #567aff;
    --light_green: orange;
    --green: blue;
}

body {
    font-size: 20px;
    background-color: var(--light_black);
    color: #F8F8F8;
}


a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    text-decoration-color: var(--light_green);
    text-decoration: underline;
    color: var(--light_green);
}

nav {
    column-gap: 20px;
    display: flex;
    align-items: center;
}

footer {
    margin-top: auto;
}
svg {
    width: 30px;
    height: 30px;
    fill: var(--white);
}

svg:hover {
    .icon {
        fill: var(--gray);
    }
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.selected {
    color: var(--light_green)
}

.container {
    margin: 0 200px;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.container_portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_footer {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.header__projects {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.about_paragraph {
    text-align: justify;
}

.about_here {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
}

.back_link:hover {
    svg {
        path {
            fill: var(--light_green);
        }
    }
}