:root {
    --black: #0F0F0F;
    --light_black: #202020;
    --light_green: #5DD62C;
    --green: #337418;
    --white: #F8F8F8;
    --gray: #D1D1D1;
}

body {
    font-size: 20px;
    background-color: var(--light_black);
    color: #F8F8F8;
}

* {
     font-family: "Roboto", serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-variation-settings: "wdth" 100;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    text-decoration-color: var(--light_green);
    text-decoration: underline;
    color: var(--light_green);
}

nav {
    column-gap: 20px;
    display: flex;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 35px;
    text-align: center;
}
svg {
    width: 30px;
    height: 30px;
    fill: var(--white);
}

svg:hover {
    .icon {
        fill: var(--gray);
    }
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.selected {
    color: var(--light_green)
}

.container {
    margin: 25px 200px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.container_portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_footer {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
}


.header__projects {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.about_paragraph {
    text-align: justify;
}

.about_here {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
}

.container_about {
    padding-top: 40px;
}
.back_link:hover {
    svg {
        path {
            fill: var(--light_green);
        }
    }
}